@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
        * {
            font-family: 'Noto Sans TC';
        }
body{
    background-color: #111111;
    color: antiquewhite;
    text-align: center;
    padding: 1%;
}
header{
    text-align: right;
    position: relative;
    top: 0px;
}
h1{
    font-size: 24px;
    margin: 0px;
}